[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pylint = "*"
psycopg2-binary = "*"
autopep8 = "*"
djangorestframework = "*"
pyjwt = "*"
django-heroku = "*"
djangorestframework-recursive = "*"
django-mptt = "*"

[requires]
python_version = "3.7"
