.forum-thread{
  padding: 15px;
  justify-content: space-between;
  h1{
    font-size: 25px;
  }

  .forum-icon{
    height: 80px;
    border-radius: 10px;
    margin:10px 20px;
  }

  .thread-small{
  margin:10px 0;
  font-size: 12px;
}
}

.thread-post {
  padding: 3%;
  margin-bottom: 5% ;
}
.thread-limits{
    color: red;

  }

.thread-img{
  border-radius: 20px;
  width:200px;
  margin: 20px 20px 10px 0  ;
}

.thread-content{
  margin-top: 4%;
  // font-size: 40px;
}

.thread-btn {
  display: flex;
  justify-content: flex-end;
}


//thread-comments 

.tcom-top{
  height:2vh;
  border-bottom:none;
  background-color: rgba(238, 163, 175, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tcom-contain {

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top:0;
  padding: 0 1vw;

  .tcom-info{
    flex-direction: column;
    text-align: center;
    font-size: 1.5vh;
    width:10%;
    margin: 0 10px;
  }

  .tcom-cont{
    margin: 10px 0;
    padding:2% ;
  }

  .tcom-options{
    display:flex;
    justify-content: flex-end;
  }
}


.indent{
  .line {
    width:0.15vw;
    height:100%;
    margin:10px;
    background-color: rgba(228, 141, 156,0.4);
  }

  .text {
    clip-path: polygon(0 34%, 60% 35%, 60% 0%, 100% 50%, 60% 100%, 60% 71%, 0 70%);
    height:1vh;
    width: 1vw;
    background-color: rgba(223, 141, 153,0.9);
  }
}



