//editProfile.js

.edit-cont {
  width: 80% !important ;

  .edit-img{
    width:15vw;
    height:15vw;
  }
}

#edit-input {
  width:100%;
}

.modal-pop{
  margin: 0 auto;
  background-color: white;
  width:30%;
  border-radius: 10px;
  text-align: center;
  padding:50px;
  }

  .profile-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
  }

.img-settings{
  position: absolute;
  margin:0.5% 0 0 4% ;
  width: 2%;
  mix-blend-mode: multiply;
}

.profile-section {
padding:10px
}
.profile-head{
  z-index: 1;
  padding:20px 10px 0 10px;
  width:100%;
}

.profile-ratings{
  float: right;

}
.profile-headers{
  margin: 2%;
  font-style: italic;
}

  .feedback-pop{
    width:50%;
    height:80%;
  }


// ProfileIno.js 
.profile-image {

  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  width: 20vh;
  margin: 0 20px;
}

.profile-info {
  display: flex;
  justify-content: space-between;

  .profile-text {
    h1 {
      font-size: 4em;
    }
    .profile-details {
      h1{
        margin: -30px 20px 0 0;
      }
      display: flex;
      align-items: center;
    }
  }
}

//ProfileNav.js

.profile-nav {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 2vh;
  padding:0.5%;
  margin-top:10px;
  border-radius: 10px;
  background-color:rgba(255,255,255, 0.7);
}

//Profile-interactions.js

.profile-posts {
  width: 80%;
}

.profile-interactions {
  margin-left:20px;
  top:30%;
  background-color:rgba(255,255,255, 0.3);
  border-radius: 10px;
  padding:0 15px;
  height: 65vh;
  text-align: center;

  .int-h1{
    font-size: 15px;
    padding:10px;
    background-color: transparent;
  }

  .posts-interactions {
    padding:5px 10px;
    margin:5px 0;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.6);

  }
}

//ProfileBio.js

.small-right{
  width: 5%;
  float: right;
}

.bio-img {
  height: 40vh;
  margin: 0 2vw;
}

//ProfilePhotos.js

.profile-photos{

display: flex;  
flex-wrap: wrap;
justify-content: center;
align-items: center;


.users-photos {
  opacity: 0.9;
  margin:2px;
  background-size: cover;
  background-position: center;
  width:210px;
  height:210px;
}
}

.img-up {
margin-right:20px;
}

.gallery-container {
  width:80%;
  height:80%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-right: 10%;
  position: static;
  .gallery-image{
    max-width:100%;
    max-height:100%;
  }
  .gallery-button{
    width:50px;
    border:none;
    color: white;
    font-size: 20px;
    background: #ffc2b7 ;
    position: relative;
  }
}

.gallery-contents{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

// profileFollowers.js

.followers-container{
margin:20px 0;
width:100%;
.follow-field {
  background-color: rgba(255,255,255, 0.3);
  padding:10px;
  margin:5px;
  .follow-pic {
    width: 200px;
    height: 200px;
    background-size: cover;
  }
    h1{
    font-size: 20px;
    }
  }
}

// profileWishList.js
.wishlist-section{
  height: 100vh;
}

.products-container {
  flex-wrap: wrap;
  padding:10px;

  h1{
    margin:10px 0;
    font-size: 15px;
  }
  .product-field{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:5px;
    padding:10px;
    width: 15vw;
    min-height:100%;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.6);
  }
}

.product-img-container{
  text-align: center;
  width:100%;
  height: 200px;
  .product-photo{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
  }
}

.wishlist-button {
  margin:10px;
  float: right;
}

.wish-loader {
margin: 100px;
}

