.sidebar-container {
  // border-left: 1px solid rgba(159, 115, 115, 0.3);
  width: 23%;
  float: right;
  height: 100vh;
  position: sticky;
  top: 0px;
}

.sidebar{
  width: 90%;
  margin: 10% 10% 0 5%;
}

.sidebar-logo{
  width: 90%;
  text-align: center;
  margin:10px;
}


.search-bar {
  flex-direction: column;
  .side-results {
    position: absolute;
    margin-top:5vh;
    width:90%;
  }
  .side-user{
    padding:2%;
    background-color: rgba(255,255,255,0.9);
  }
}



  .search-input{
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  margin: 0 5px;
  } 

.sidebar-section {
  margin: 4% 0;
  height: 31vh;
    overflow-y: scroll;
}

.sidebar-post-field {
  padding-top: 1%;
  h1 {
    font-size: 2vh;
  }
  p{
    font-size: 1.7vh;
    margin-bottom: 10px;

  }
}

.sidebar-title{
  font-size: 3vh;
  color: rgba(159, 115, 115, 1);;
}

.small-side{
  font-size: 13px;
}